html {
  font-size: 100%;
  font-family: Helvetica;
}

* {
  box-sizing:border-box;
}

body{
  background-color: lightgray;

  margin: 0;
  padding: 0;
}
#h1{
  font-family: Helvetica;
  color: yellow;
}


nav {
  position: sticky;
  height: auto;
  width: 100%;
  background-color: white;
  box-shadow: 5px 5px 5px 3px rgba(0, 0, 0, 0.5);
  top: 0;
  z-index: 10;
}

.logo {
  height: 70px;
  float: left;
}

nav ul {
  margin:0 0 0 5%;
}

 nav li {
  font-size: 1.2rem;
  display: inline-block;
  padding: 0 0 0 1.2rem;
  margin: 1.5rem 0;
}

nav a {
  color: gray;
  text-decoration: none;
  transition: all 0.3s ease-out;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}

nav li :hover {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}


header {
  position: relative;
  width: 100%;
  min-height:25rem;
  background-image: url(../Images/bball\ \(2\).jpg);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  box-shadow: 0px -5px 5px 3px inset rgba(0, 0, 0, 0.5);
  padding-top: 13%;
  padding-bottom: 5%;
}

h1 {
  border: 5px solid rgb(80, 240, 80);
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 5px 5px 5px 3px rgba(0, 0, 0, 0.5);
  max-width:70%;
  margin: auto;
  color: yellow;
  background-color: rgba(10, 10, 10, 0.3);
  font-size: 3.5rem;
  text-align: center;

}

@media only screen and (min-width:701px) {

  h1 {
    max-width: 400px;
    margin-left: 10%;
  }

}

@media only screen and (max-width:520px) {

  h1 {
  font-size: 2.5rem;
  }

}



h3 {
 font-size: 1.6rem;
 margin: 0;
 padding: 1.5rem 1.5rem;
 text-align: left;
}



/*-----------Main-----------------*/

main{
  position: relative;
  top: 7rem;
}

/*--------------ABOUT------------ */

.about{
  background-color: white;
  padding: 2rem 1.5rem;
  box-shadow: 5px 5px 5px 3px rgba(0, 0, 0, 0.2);
  font-size: 1.1rem;

}

@media only screen and (min-width:550px){
  .about {
    max-width: 90%;
    margin: auto;
  }

}


/*-------------------VISITS--------- */
.next-visits {
  margin: 3.5rem auto ;
  width: 100%;
}

.appointment {
  background-color: white;
  padding: 1rem 1.5rem;
  font-size: 1.1rem;
  box-shadow: 5px 5px 5px 3px rgba(0, 0, 0, 0.2);
}

.appointment_img-container {
  margin-left: 0;
  max-width: 200px;
  max-height: 200px;
}

.appointment_img {
  max-width: 100%;
  height: auto;
  overflow: hidden;
}

.appointment figcaption {
  color: gray;
  font-size: 1.25rem;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}

.appointment span {
  font-style: normal;
  font-size: .9rem;
  font-weight: bolder;
  text-transform: uppercase;
}

.action {
  background-color: green;
  color: lightgray;
  border: 1px solid green;
  border-radius: 7px;
  font-size: 1.2rem;
  text-decoration: none;
  padding: 0.5rem 1rem;
  margin-top: 2.3rem;
  max-width: 15rem;

  float: right;

  transition: all 0.2s ease-out;

}

.action:hover {
  background-color: lightgray;
  color: green;
  font-size: 1.3rem;
  box-shadow: 5px 5px 5px 3px rgba(0, 0, 0, 0.2);

}

@media only screen and (min-width:550px) {
  .next-visits {
    margin: 3.5rem auto ;
    width: 90%;
    text-align: center;
  }

  .appointment {
    max-width: 45%;
    display: inline-block;
    text-align: center;

  }

  .appointment_img-container {
    width: 100%;
    margin: auto;
  }

  .action {
   float: none;
   display: block;
  }

}

@media only screen and (min-width:900px) {

  .appointment {
    max-width: 30%;
    margin-left: 3%;
  }
}


/*--------------GALLERY */

.gallery {
  margin: 3.5rem auto ;
  width: 100%;
}

.container {
  max-width: 100%;
  max-height: 40rem;
  overflow: hidden;
  margin: 0 auto 1.5rem;
  box-shadow: 5px 5px 5px 3px rgba(0, 0, 0, 0.2);


}

.container img {
  width: 100%;
  display: block;
}

@media only screen and (min-width:550px) {
  .gallery{
    max-width: 90%;

    text-align: center;
  }

  .container {
    width: 45%;
    max-height: 25rem;
    margin: 0 3% 3% 0;
    display: inline-block;
    transition: all 0.3s ease-out;
}
  .container:hover {
    box-shadow: 10px 10px 15px 10px rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
  }
}

@media only screen and (min-width:900px) {

.container {
  width: 30%;
  max-height: 30rem;

}

}


/*-----------------------------------------------------LOCATIONS */
.locations {
max-width: 100%;
overflow: hidden;
}

@media only screen and (min-width:550px) {
.locations h3 {
  margin-left: 5%;
}
}

.locations img {
  display: block;
  width: 100%;
  object-fit: cover;
  max-height: 40rem;
  overflow: hidden;
  margin: auto;
}


/*-----------------------------------------------------FOOTER */

footer {
  font-family: sans-serif;
  color: black;
  text-align: center;

  background-color: white;
  box-shadow: 0px -5px 5px 3px rgba(0, 0, 0, 0.2);

  position: fixed;
  bottom: 0;
  height: 3rem;
  width: 100%;
  z-index: 10;

}
